body {
    background-color: #1F1B24;
    color: rgba(255, 255, 255, 0.87);    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.05);
    color: #bb86fc;    
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.05);        
    border-radius: 0.5rem;
    margin: 1rem;    
}

.section:hover {
    background-color: rgba(255, 255, 255, 0.07);
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;    
}

h2 {
    color: #03DAC5;
}

hr {
    border-color: rgba(255, 255, 255, 0.15); 
}

button, input[type="submit"] {
    background-color: #BB86FC;
    color: #1F1B24;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

button:hover, input[type="submit"]:hover {
    color: #3700b3;
}

input[type="text"] {
    line-height: 1.8;
    width: 25%;
    border-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 0.07);
    color: rgba(255, 255, 255, 0.87); 
}

input[type="text"]:hover {
    background-color: rgba(255, 255, 255, 0.09);
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

#feedback1 {
    padding-left: 4.2rem;
}
